* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flip-outer {
  width: 300px;
  height: 300px;
}

.flip-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d; /* 회전할 때 3d 처럼 동작하게 하기 */
}

.flip-inner:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}

.front {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* 뒷면에 그림 안 비치고 글씨만 나오게 하기 */
  z-index: 1; /* 앞면의 그림이 안보이는 경우 추가 */
}

.back {
  width: 100%;
  position: absolute;
  text-align: center;
  transform: rotateY(180deg);
  background: orange;
  height: 100%;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
