* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-container img {
  width: 100%;
  height: 100%;
}

.first {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

@media screen and (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  .first {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}
