* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sh-list {
  width: 90%;
  margin: auto;
  margin-top: 30px;

  li {
    list-style: none;
    padding: 15px;
    border: 1px solid #eee;

    &:hover {
      cursor: pointer;
    }
  }

  .active {
    background: skyblue;
    color: white;
  }
}
