* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.image {
  display: block;
  margin: auto;
  margin-top: 50px;
  width: 200px;
}

.title {
  margin: 10px 0;
}

.name {
  color: blueviolet;
  padding: 10px;
  margin: 10px;
  text-decoration: underline;
}

.content {
  margin: auto;
  width: 500px;
  background: #eee;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 15px 5px grey;
}
