* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.white-box {
  /* border: 1px solid black; */
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0.5px 0.5px 5px 3px #eee;
  margin: 10px 0;
}

.blue-line {
  padding: 10px 0;
  margin: 10px 0 10px 0;
}

.gray-line {
  padding: 10px 0;
  margin: 10px 0 10px 0;
}

.pill {
  padding: 5px 10px;
  border: 2px solid lightgrey;
  border-radius: 30px;
  font-weight: bold;
  font-size: 11px;
}
