* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.main-background {
  background-image: url(./img/shoes.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 100px 0 40px 0;
}

.main-content {
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}
