* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.main-background {
  background-image: url(./img/shoes.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 100px 0 40px 0;
}

.main-content {
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  cursor: pointer;
}

.box {
  background: #eee;
  width: 450px;
  text-align: center;
  padding: 30px;
  position: relative;
  top: -70px;
  margin: auto;
}

.text-title {
  font-size: 20px;
  padding-bottom: 20px;
}

.icon-container {
  float: left;
  height: 230px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.icon {
  text-align: center;
}

i {
  font-size: 50px;
  color: white;
  background: burlywood;
  border-radius: 70%;
  width: 100px;
  height: 100px;
  padding-top: 25px;
}

.icon h4 {
  padding-top: 10px;
}

.icon p {
  padding: 10px 0;
}

.item-background {
  background: #eee;
  padding: 20px;
}

.item-container {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  color: white;
  padding: 10%;
  text-align: center;
  font-size: 70px;
}

.overlay-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.overlay-wrap:hover .overlay {
  transition: all 1s;
  transform: translateY(40%);
  opacity: 1;
}

img {
  width: 100%;
}

.contact-background {
  position: relative;
  width: 100%;
  height: 700px;
  background: rgb(71, 71, 71);
  padding: 20px;
  margin-top: -30px;
}

.white-box {
  width: 40%;
  min-width: 450px;
  height: 600px;
  background: white;
  padding: 30px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 30px;
}

.contact-title {
  font-size: 30px;
  padding-bottom: 20px;
}

.contact-sub-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-sub-content {
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 230px;
}

.btn-contact {
  width: 120px;
  background: gold;
  color: white;
  font-weight: bold;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 992px) {
  .overlay {
    font-size: 45px;
  }

  .icon-container {
    height: 450px;
  }

  .icon {
    width: 50%;
  }
}

@media screen and (max-width: 576px) {
  .overlay {
    font-size: 30px;
  }

  .icon-container {
    flex-direction: column;
    align-items: center;
    height: 800px;
    margin-bottom: 50px;
  }

  .icon {
    width: 100%;
    margin-bottom: 10px;
  }
}
