* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
}

.main-background {
  background-image: url(./img/shoes.jpg);
  width: 100%;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 30px;
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  text-align: center;
  padding: 100px 0 40px 0;
}

.main-content {
  color: white;
  width: 80%;
  text-align: center;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  position: absolute;
  bottom: 150px;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  cursor: pointer;
}

.box {
  background: #eee;
  width: 450px;
  text-align: center;
  padding: 30px;
  position: relative;
  top: -70px;
  margin: auto;
}

.text-title {
  font-size: 20px;
  padding-bottom: 20px;
}
